node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Secrets
secrets.js

# macOS
.DS_Store

# Environment
.env
.env.local

# Testing
coverage/
*.coverage
.nyc_output

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
